* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --overlay: #f0ffffe8;
  --dark-color: #1b1b1b;
  --white: #f5f5f6;
  --principal: #a2d45e;
  --second: #f68d2e;
  --second-opaque: #cc6912;
  --transition: all 0.3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span {
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.5px;
}

h1 {
  text-align: center;
}

.text_gradient {
  background: #43d5e2;
  background: -webkit-linear-gradient(
    to bottom right,
    #43d5e2 33%,
    #a2d45e 100%
  );
  background: -moz-linear-gradient(to bottom right, #43d5e2 33%, #a2d45e 100%);
  background: linear-gradient(to bottom right, #43d5e2 33%, #a2d45e 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

a {
  color: var(--white);
}

.cta {
  color: var(--white);
  background-color: var(--second);
  text-transform: uppercase;
  padding: 11px 20px;
  border-radius: 30px;
  margin-top: 2rem;
  transition: var(--transition);
}
.cta:hover {
  color: var(--white);
  background-color: var(--second-opaque);
  text-decoration: none;
  transform: translateY(-5px);
}

.stats_area {
  height: auto;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    165deg,
    rgba(255, 255, 255, 1) 35%,
    rgba(225, 248, 250, 1) 44%,
    rgba(67, 213, 226, 1) 66%,
    rgba(162, 212, 94, 1) 85%
  );
}

.span_bold {
  font-weight: 700;
}

.chart_area {
  display: flex;
  justify-content: center;
  align-items: center;
}
.chart_area h2 {
  margin-bottom: 5rem;
  text-align: center;
}

.base_chart {
  padding: 1rem;
}
